.gradle
.navigation/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
fabric.properties
gradle.properties
/*/*.iml
core/src/main/res/values/api-keys.xml
core/src/main/assets/crashlytics-build.properties
core/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/res/values/api-keys.xml

api-keys.xml
keystore.jks
keystore*.jks
*.apk

build/
*.iml
.idea/
google.xml
google-services.json
